.appFooter{
    width: 100vw;
    height: 80vh;
    background-image: url('https://i.ibb.co/cYpPNyW/mainBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
}

.footerLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
.subscribe{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}
.subscribe h1{
    font-size: 1.7rem;
}
.subscribe p{
    font-size: .7rem;
}
.subscribe input{
    font-size: .9rem;
    outline-style: none;
    border: none;
    border-bottom: solid 1px black;
    padding: 0.3rem .7rem;
    font-family: 'Raleway', sans-serif;

}
.footerRight{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}
.industries div a{
    font-size: 1.2rem;
}
.services div a{
    font-size: 1.2rem;
}
.tandc  a{
    font-size: 1.2rem;
}

@media screen and (min-width:1400px) {
    .appFooter{
        padding: 0 15rem;
    }
}

@media screen and (max-width:1450px) {
    .appFooter{
        padding: 1rem 5rem;
    }
}

.mobilesUpdate{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    gap: 1rem;
}
.mobilesUpdate h1{
    font-size: 1.7rem;
}

.footerBtn{
    color: black;
    width: 100px;
    height: 30px;
    border: solid 1px black;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footerBtn:hover{
    background-color: black;
    color: white;
}
.mobilesUpdate input{
    font-size: .9rem;
    outline-style: none;
    border: none;
    border-bottom: solid 1px black;
    padding: 0.3rem .7rem;
    font-family: 'Raleway', sans-serif;

}
.rights{
    color: white;
    font-size: 1.2rem;

}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 3rem;
    color: #FACB31;
}
.logo img{
    width: 60px;

}
.impLinks{
    display: flex;
    gap: 7rem;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
}
.industries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.industries h1{
    font-size: 1.3rem;
}
.industries div{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.services h1{
    font-size: 1.3rem;
}
.services div{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tandc{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
}