
.appHero{
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.ibb.co/cYpPNyW/mainBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appHero h1{
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #F6CE36;
}
.appHero p{
  color: white;
  font-weight: 200;
}
.customBtn{
  width: 140px;
  height: 35px;
  border: solid 1px rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  color: white;
  cursor: pointer;
}

.appHeroTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appHeroBottom{
  display: flex;
  align-items: center;
  bottom: 5%;
  position: absolute;
  gap: 1rem;
}

.appHeroBottom a{
  color: white;
  font-size: .8rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.appHeroBottom a:hover{
  text-decoration: none;
  
}
.cursor{
  color: rgb(255, 255, 255);
  font-weight: 400;
}

@media screen and (max-width:600px) {
  .appHero h1{
    font-size: 4rem;
  }
  .appHero p{
    font-size: .9rem;
  }
}

@media screen and (max-width:400px) {
  .appHero h1{
    font-size: 3rem;
  }
  .appHero p{
    font-size: .7rem;
  }
}