
.appHero{
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.ibb.co/cYpPNyW/mainBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appHero h1{
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #F6CE36;
}
.appHero p{
  color: white;
  font-weight: 200;
}
.customBtn{
  width: 140px;
  height: 35px;
  border: solid 1px rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  color: white;
  cursor: pointer;
}

.appHeroTop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appHeroBottom{
  display: flex;
  align-items: center;
  bottom: 5%;
  position: absolute;
  gap: 1rem;
}

.appHeroBottom a{
  color: white;
  font-size: .8rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.appHeroBottom a:hover{
  text-decoration: none;
  
}
.textAnimate{
  display: flex;
  align-items: center;
}
.textAnimate h2{
  color: #F6CE36;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.cursor{
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 4rem;
}

@media screen and (max-width:600px) {
  .appHero h1{
    font-size: 4rem;
  }
  .appHero p{
    font-size: .9rem;
  }
}

@media screen and (max-width:400px) {
  .appHero h1{
    font-size: 2.5rem;
  }
  .appHero p{
    font-size: .7rem;
  }
}
.servicesTab{
  max-height: 100vh;
  
}
.services{
  width: 100vw;
  max-height: 90vh;
  background-image: url('https://i.ibb.co/cYpPNyW/mainBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
	overflow-y: scroll;

}

.verticalLine{
  width: 1px;
  height: 70vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.verticalLine img{
  width:20px;
  margin-right: -.6rem;
}
.servicesContent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  padding-right: 20rem;
  scroll-snap-align: start;
}
.servicesContent h3{
  font-size: 2rem;
}
.servicesContent p{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 200;
}
.lemonServices{
  position: absolute;
  width: 300px;
  right: 0;
}
.servicesTab{
  scroll-behavior: smooth;
  overflow-y: scroll;
}