.appNavbar{
    width: 100vw;
    height: 40px;
    position: fixed;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: 800;
    gap: .4rem;
}
.logo img{
    width: 30px;
}
.logo div{
    font-size: 1rem;
    color: #FACB31;
    text-transform: uppercase;
}
.appNavbarMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
.menu{
    display: flex;
    color: #FFD700;
    font-weight: 800;
    cursor: pointer;
}
.screenMenu{
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuClose{
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.navlinks{
    display: flex;
    flex-direction: column;
}
.navlink{
    color: #F37446;
    font-weight: 800;
    font-size: 3rem;
}
.navlink:hover{
    color: #FACB31;
    transition: all ease-in-out .3s;
}