.appNavbar{
    width: 100vw;
    height: 40px;
    position: fixed;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 30px;
}
.appNavbarMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
.menu{
    display: flex;
    color: #FFD700;
    font-weight: 800;
    cursor: pointer;
}
.screenMenu{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}