.appNavbar{
    width: 100vw;
    height: 40px;
    position: fixed;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(10px);
}
.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: 800;
    gap: .4rem;
}
.logo img{
    width: 30px;
}
.logo div{
    font-size: 1rem;
    color: #FACB31;
    text-transform: uppercase;
}
.appNavbarMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
.menu{
    display: flex;
    color: #FFD700;
    font-weight: 800;
    cursor: pointer;
}
.screenMenu{
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuClose{
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.navlinks{
    display: flex;
    flex-direction: column;
}
.navlink{
    color: #F37446;
    font-weight: 800;
    font-size: 3rem;
}
.navlink:hover{
    color: #FACB31;
    transition: all ease-in-out .3s;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .8rem;
    display: flex;
    align-items: center;
    color: white;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color:transparent;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 3px;
  }
  .form{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .modal{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    outline: none;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background-position: left;
    border-radius: 10px;
  }

.formLeft{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
}
.formLeftTop{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.icons{
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.iconBorder{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(195, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(93, 93, 93);
}

.iconBorder svg{
  font-size: 1rem;
}
.iconDetails{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}
.iconDetails h1{
  font-size: 1.2rem;
  /* color: #6A6A6A; */
}
.iconDetails p{
  font-size: .8rem;
  color: #6A6A6A;
}
.iconDetails a{
  font-weight: 700;
  font-size: .8rem;
  color: #6A6A6A;
}

.iconSocials{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;

}
.iconSocials svg:hover {
  color: #F37446;
}
.formRight{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  gap: 1rem;  
}

.fillup{
  background-color:#407950 ;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap:.6rem;
  padding: 1.5rem;
  border-radius: 10px;
  
}
.fillup h1{
  color: white;
  font-size: 1.5rem;
}
.fillup p{
  color: white;
  font-size: .8rem;
}
.fillup input{
  outline: none;
  border: none;
  border-bottom: solid 1px #ffffff;
  width: 80%;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  place-content: white;
  padding: .6rem;
  font-family: 'Raleway', sans-serif;
}
.fillup input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: .5; /* Firefox */
}
.formServices{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.selection{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.customBtn{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}
.customBtn:hover{
  background-color: rgb(90, 90, 90);
  color: white;
}

@media screen and (max-width:400px) {
  .form{
    width: 90%;
    height: 90%;
    flex-direction: column;
  }
  .modal{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formRight{
    width: 100%;
  }
  .formLeft{
    display: none;
  }
}