.main{
    height: 100vh;
    width: 100vw;
    background-color: #C0DBDF;
    display: flex;
    flex-direction: column;
    background-image: url('https://i.ibb.co/54LsTws/pngwing-com-22.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}   
.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem;
}
.card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.review{
    width: 500px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333333;
    padding: auto;
    border-radius: 10px;
    clip-path: polygon(0 0, 10% 0, 100% 0, 100% 100%, 75% 100%, 5% 100%, 5% 30%);
    /* clip-path: polygon(0% 0%, 47% 0, 85% 0, 100% 0, 95% 22%, 95% 100%, 0 100%); */
    text-align: center;
    font-size: .8rem;
    padding: 2rem;
}
.review2{
    width: 500px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333333;
    padding: auto;
    border-radius: 10px;
    /* clip-path: polygon(0 0, 10% 0, 100% 0, 100% 100%, 75% 100%, 5% 100%, 5% 30%); */
    clip-path: polygon(0% 0%, 47% 0, 85% 0, 100% 0, 95% 22%, 95% 100%, 0 100%);
    text-align: center;
    font-size: .8rem;
    padding: 2rem;
}

.review2, .review {
	animation-name: review2;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes review2  {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}
