.main{
    /* height: 200vh; */
    background-color: #C0DBDF;
    /* padding: 3rem; */
}
.lemonSlide{
    height: 70vh;
    padding-top: 10rem;
}
.yellowSlide{
    width: 70%;
    height: 250px;
    background-color: #FACB31;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lemon img{
    width: 300px;
    display: flex;
    align-items: center;
}
.lemon{
    color: #353535;
    text-align: center;
}
.lemon h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.lowerWhychooseUs{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.whychooseUsContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 100; */
}
.verticalLine{
    width: 1px;
    height: 50vh;
    background-color: rgb(101, 101, 101);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  .verticalLine img{
    width:20px;
    margin-right: -.6rem;
  }
  .whychooseUsContentImg{
    width: 400px;
    height: 100%;
  }
  .left{
    display: flex;
    align-items: center;
    width: 40%;
  }
  .right{
    display: flex;
    align-items: flex-start;
    width: 40%;
    flex-direction: column;
    gap: 2rem;
  }
  .contentBottom{
    display: flex;
    flex-direction: row;
    gap: 2rem;

  }
  .verticalLine2{
    width: 2px;
    height: 30vh;
    background-color: rgb(101, 101, 101);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  .contentBottomRight{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .explore ,.build ,.grow{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    cursor: pointer;
  }
  .build p,.grow p{
    display: none;
  }
  .build:hover p{
    display: block;
    transition: all ease-in-out 1s;
  }
  .grow:hover p{
    display: block;
    transition: all ease-in-out 1s;
  }
@media screen and (max-width:400px) {
    .lemon img{
        width: 150px;
    }
    .yellowSlide{
        width: 100%;
        height: 150px;
        background-color: #FACB31;
    }
    .lemon h1{
        font-size: 1.5rem;
    }
    .verticalLine p{
        font-size: .5rem;
      }
      
      .verticalLine{
        height: 50vh;
      }
}
